backup/Tech News Collector - Send (frontend).json
{
  "name": "Tech News Collector - Send (frontend)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,15,21,3 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -128
      ],
      "id": "a964c40e-31f6-40f7-837a-17f310a5f6d2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        864,
        80
      ],
      "id": "0b72bc16-ed6b-48ea-a75a-7138aa9f6b1a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "i1uBJAnxSUuoud7W",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fe3595d9-0a14-4ac4-aee2-487a42542416",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        -128
      ],
      "id": "b86d2522-9bc1-4a1f-b2e7-97f43292a316",
      "name": "Has Articles"
    },
    {
      "parameters": {
        "fieldToSplitOut": "title, url, summary",
        "include": "selectedOtherFields",
        "fieldsToInclude": "keywords",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        -144
      ],
      "id": "59990e46-5319-4ad0-857c-e9828228dd2c",
      "name": "Extract Article Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        656,
        -144
      ],
      "id": "efc0b5fe-b905-4140-babf-36eb08586464",
      "name": "Aggregate Articles"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=以下の記事リストを分析してください。\n\n## 現在日時\n{{ $now.setZone('Asia/Tokyo').toFormat('yyyy/MM/dd HH') }}時\n\n## ユーザーの関心\n普段はWebフロントエンドの開発をしています。\nReact、Next.js、TypeScript を中心に使っており、最新のフレームワーク動向やパフォーマンス最適化に興味があります。\n新しいフレームワークやライブラリ、CSS の新機能、UI/UX のトレンド、開発ツールの情報を追いかけたいです。\n\n## 記事リスト\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "あなたはWebフロントエンド分野の技術トレンドを分析するアシスタントです。\n渡された記事リストを分析し、Discord通知用のメッセージを生成してください。\n\n## 出力形式\n\n以下の形式で出力してください。マークダウンやコードブロックの装飾は不要です。\n\n### 出力構成\n\n1. **見出し**\n   - 最初の行に「## {現在日時}のニュース」形式で記載\n   - 現在日時はユーザーから渡される値をそのまま使用\n\n2. **トレンド要約**（4行程度）\n   - 記事全体から読み取れるトレンドやトピックを簡潔にまとめる\n   - 句点（。）ごとに改行する\n   - 具体的な技術名やサービス名を含める\n\n3. **おすすめ記事**（5件程度）\n   - ユーザーの関心に合った記事を選定\n   - 選定理由は不要\n\n### おすすめ記事のリンク形式（重要）\n\n各記事は必ず以下の形式で記載してください：\n- [タイトル](<URL>)\n\noriginal_language が ja 以外の場合は、末尾に言語コードを付与：\n- [タイトル](<URL>) (en)\n\n具体例：\n- [Next.js 15 リリース、Turbopack が安定版に](<https://example.com/article1>)\n- [「Vite 6」が正式リリース、新たな実験的機能も追加](<https://example.com/article2>)\n- [【解説】React Server Components の仕組み](<https://example.com/article3>)\n- [What's new in CSS 2025](<https://example.com/article4>) (en)\n\n注意事項：\n- 各行は必ず `- [` から始めること\n- タイトルに「」『』【】などの記号が含まれていても、必ず `- [` から始めること\n- タイトルと URL の間に `](<` を必ず入れること\n- URL の後に `>)` を必ず入れること\n- original_language が ja の場合は言語コードを付けない\n- original_language が ja 以外の場合は `>)` の後に半角スペース + 言語コードを付ける（例：`>) (en)`）\n\n### トレンド要約のスタイル\n\n- ですます調を基本とする\n- 絵文字は2行に1つ程度、文末に控えめに添える（毎行つけない）\n- 絵文字をつける場合は句点（。）の代わりに文末に置く（「〜です 🔥」のように）\n- 絵文字の前には必ず半角スペースを入れる\n- 絵文字は文脈や内容に合ったものを自由に選ぶ（同じ絵文字を繰り返し使わず、バリエーションを持たせる）\n- 英語と日本語の間には必ず半角スペースを入れる（例：「React 19 の新機能が話題になっています」）\n- 「〜ですね」「〜かも」などの口語表現は使わず、「〜です」「〜します」で終える\n- 硬すぎるニュース文体ではなく、社内の技術共有チャンネルに投稿するような親しみやすいトーンで書く\n- 開発者が「お、気になる」と思えるような書き方を意識する\n\n### トレンド要約の書き方\n\n- 新フレームワークや新バージョンの発表は「〜がリリースされました」「〜が発表されました」のように、まずニュースとして伝える\n- いきなり詳細な説明から入らず、何が起きたのかを最初に簡潔に述べる\n- 読者が前提知識なしでも理解できるよう、固有名詞が初出の場合は簡単な補足を入れる\n- 複数のトピックがある場合は、関連性のある話題をまとめて自然な流れで紹介する\n\n### おすすめ記事の選定基準（優先度順）\n\n1. **日本語の記事を優先** - 同程度の内容であれば日本語記事（original_language が ja）を優先して選定する\n2. **複数媒体で取り上げられているテーマ** - 異なるソースで重複して報じられているトピックは注目度が高いため必ず含める\n3. **ユーザーの関心に合致する記事** - ユーザーが指定した興味・関心に沿った内容\n4. **業界への影響が大きいニュース** - 新フレームワーク発表、メジャーバージョンアップ、標準化動向など\n\n### 出力例\n\n## 2025/12/13 14時のニュース\n\nNext.js 15 がリリースされました。\nApp Router のパフォーマンス改善や Turbopack の安定版対応など、DX 向上に注力したアップデートになっています ⚡\nCSS の新機能も注目で、@starting-style や Anchor Positioning がモダンブラウザで使えるようになってきています。\nTailwind CSS v4 のベータも出ており、フロントエンドのスタイリング周りが活発に動いています 🎨\n\n📌 おすすめ記事\n- [Next.js 15 リリース、Turbopack が安定版に](<https://example.com/article1>)\n- [CSS @starting-style でアニメーションの初期状態を定義する](<https://example.com/article2>)\n- [「Tailwind CSS v4」ベータ版公開、新設計で大幅高速化](<https://example.com/article3>)\n- [【入門】React Server Components を理解する](<https://example.com/article4>)\n- [What's new in CSS 2025](<https://example.com/article"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        864,
        -144
      ],
      "id": "a7d6ffd5-d566-49df-a863-a0e695c7503f",
      "name": "Generate Slack Message"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09A4A0U1ND",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1280,
        -224
      ],
      "id": "b78ea6d1-9050-478e-a2be-c1f594040889",
      "name": "Send to Slack",
      "webhookId": "e2db1270-ab38-47dc-b5e1-8a6db8bc3d06",
      "credentials": {
        "slackApi": {
          "id": "ygvs2LZZO7sTZkqS",
          "name": "#Private"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        432,
        64
      ],
      "id": "484edff0-a770-40bc-b061-acab24ed4229",
      "name": "No Articles (Skip)"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "articles",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'category=cs.{frontend}&published_at=gte.' + $now.minus({hours: 6}).toUTC().toISO() }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16,
        -128
      ],
      "id": "62a7abe7-95e1-482f-bbd0-ab3d218b227e",
      "name": "Get Articles",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "yQ0CqMPOCVAm94Em",
          "name": "tech-news-collector"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1280,
        -32
      ],
      "id": "04dab979-4eb8-43f5-aab2-8e8e107b9b48",
      "name": "Send to Discord",
      "webhookId": "6654a8e3-16f5-42c2-a488-d253b8af6e78",
      "credentials": {
        "discordWebhookApi": {
          "id": "fWvOerILZCP3EWu1",
          "name": "NEW ARCH DESIGNING (#notice-frontend)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Slack Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Has Articles": {
      "main": [
        [
          {
            "node": "Extract Article Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Articles (Skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article Fields": {
      "main": [
        [
          {
            "node": "Aggregate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Articles": {
      "main": [
        [
          {
            "node": "Generate Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Slack Message": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        []
      ]
    },
    "Get Articles": {
      "main": [
        [
          {
            "node": "Has Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "iQRj4MEt8AnsmEE9"
  },
  "versionId": "7d26e457-9d86-48f3-a8e7-4bb6bf4afaee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a25a58fbaad6dc2edf7c853c2e8dc94a121e7e06e6b6e53130fb622e9d43f167"
  },
  "id": "TSBQcXgb9JwypnVu",
  "tags": [
    {
      "updatedAt": "2025-12-11T14:48:25.929Z",
      "createdAt": "2025-12-11T14:48:25.929Z",
      "id": "DGWlHMRzJGZagG5p",
      "name": "Tech News Collector"
    }
  ]
}