backup/Tech News Collector - Send (tech_blog).json
{
  "name": "Tech News Collector - Send (tech_blog)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -128
      ],
      "id": "e2da3b9c-2a58-4959-8d07-d75c9f7bac03",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        864,
        80
      ],
      "id": "90d6156e-c87c-408f-92f3-8220fbf0aa85",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "i1uBJAnxSUuoud7W",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fe3595d9-0a14-4ac4-aee2-487a42542416",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        -128
      ],
      "id": "a4847a19-5355-44b2-9625-ac15fbbabf18",
      "name": "Has Articles"
    },
    {
      "parameters": {
        "fieldToSplitOut": "title, url, summary, original_language",
        "include": "selectedOtherFields",
        "fieldsToInclude": "keywords",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        -144
      ],
      "id": "0a21b3f3-7e67-4342-9c09-ae4ba9042f54",
      "name": "Extract Article Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        656,
        -144
      ],
      "id": "39ef03e5-82cd-4b90-ad85-f18c1b2afebf",
      "name": "Aggregate Articles"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=以下の記事リストからおすすめ記事を選定してください。\n\n## 現在日時\n{{ $now.setZone('Asia/Tokyo').toFormat('yyyy/MM/dd HH') }}時\n\n## ユーザーの関心\n普段はWebアプリケーションの開発をしています。\nReact、Next.js、TypeScript を中心に使っており、最近は AI エージェントや LLM を活用した開発にも興味があります。\n実務に役立つ技術ノウハウや、設計・アーキテクチャに関する深い考察を読みたいです。\n\n## 記事リスト\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "あなたは技術ブログの記事を選定するアシスタントです。\n渡された記事リストから、ユーザーの関心に合ったおすすめ記事を選定し、Discord通知用のメッセージを生成してください。\n\n## 出力形式\n\n以下の形式で出力してください。マークダウンやコードブロックの装飾は不要です。\n\n### 出力構成\n\n1. **見出し**\n   - 最初の行に「## {現在日時}のおすすめブログ記事」形式で記載\n   - 現在日時はユーザーから渡される値をそのまま使用\n\n2. **おすすめブログ記事**（最大10件）\n   - ユーザーの関心に合った記事を選定\n\n### 記事リストの形式（重要）\n\n各記事は必ず以下の形式で記載してください：\n- ひとこと紹介文\n  - [タイトル](<URL>)\n\noriginal_language が ja 以外の場合は、ひとこと紹介文の末尾に言語コードを付与：\n- ひとこと紹介文 (en)\n  - [タイトル](<URL>)\n\n注意事項：\n- ひとこと紹介文は1行で簡潔に（20〜40文字程度）\n- ひとこと紹介文は `- ` から始める\n- original_language が ja の場合は言語コードを付けない\n- original_language が ja 以外の場合はひとこと紹介文の末尾に半角スペース + 言語コードを付ける（例：`- 紹介文です (en)`）\n- タイトル行は `  - [` から始める（半角スペース2つでインデント）\n- タイトルに「」『』【】などの記号が含まれていても、必ず `  - [` から始めること\n- タイトルと URL の間に `](<` を必ず入れること\n- URL の後に `>)` を必ず入れること\n\n### ひとこと紹介文のスタイル\n\n- ですます調で書く\n- 英語と日本語の間には必ず半角スペースを入れる（例：「Next.js の新機能が解説されています」「Rust で分散システムが書けます」）\n- 読者が「読みたい！」と思えるキャッチーな表現にする\n- 記事の魅力や学べるポイントを端的に伝える\n- 「〜してみました」「〜でした」など体験談風の表現も効果的\n- 疑問形や「意外と知らない」「実は」などのフックも有効\n- 単なる内容説明ではなく、読む価値を感じさせる\n\n### 記事の選定基準（優先度順）\n\n1. **日本語の記事を優先** - 同程度の内容であれば日本語記事（original_language が ja）を優先して選定する\n2. **Web界隈のダイジェスト・まとめ記事** - 週次/月次のWeb技術動向、リリースまとめ、ニュースダイジェストなど（該当があれば必ず含める）\n3. **ユーザーの関心に合致する記事** - ユーザーが指定した興味・関心に沿った内容\n4. **実務に役立つ内容** - 具体的な技術ノウハウ、ベストプラクティス、設計パターンなど\n5. **深い考察や独自の視点がある記事** - 表面的な紹介ではなく、著者の経験や考察が含まれるもの\n6. **話題性のあるテーマ** - 最新技術、トレンド、注目のライブラリやツールに関するもの\n\n### 出力例\n\n## 2025/12/13 14時のおすすめブログ記事\n\n- 今週のフロントエンド界隈の動向がまとまっています\n  - [Cybozu Frontend Weekly #150](<https://example.com/article1>)\n- 本番運用で痛い目を見て学んだ App Router のキャッシュの罠が参考になります\n  - [Next.js App Router のキャッシュ戦略を本番運用で学んだこと](<https://example.com/article2>)\n- 型パズルを解きながら TypeScript の型システムを深く理解できます\n  - [TypeScript の型パズルから学ぶ型システムの基礎](<https://example.com/article3>)\n- Claude と連携する MCP サーバーの自作方法が丁寧に解説されています\n  - [【入門】MCP サーバーを自作して Claude と連携する](<https://example.com/article4>)\n- 「プロの開発者」とは何か、名著から考えさせられます (en)\n  - [The Clean Coder: Opinion](<https://example.com/article5>)\n- Rust で分散システムがシンプルに書けるフレームワークの紹介です (en)\n  - [Hydro: A Distributed Programming Framework for Rust](<https://example.com/article6>)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        864,
        -144
      ],
      "id": "671e1ded-f260-49b6-a2f1-bd43ce4d84f0",
      "name": "Generate Slack Message"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09A4A0U1ND",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1280,
        -224
      ],
      "id": "92af44e0-f409-41a9-94e1-9a972fbff27d",
      "name": "Send to Slack",
      "webhookId": "a3781e93-e8f0-422e-88fb-c9daa1fae294",
      "credentials": {
        "slackApi": {
          "id": "ygvs2LZZO7sTZkqS",
          "name": "#Private"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        432,
        64
      ],
      "id": "3f11c082-99fd-4ce0-9e37-9ce1c397daee",
      "name": "No Articles (Skip)"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "articles",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'category=cs.{tech_blog}&published_at=gte.' + $now.minus({hours: 6}).toUTC().toISO() }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16,
        -128
      ],
      "id": "8fd74130-5a36-4705-8f2b-81b0bdfbaaaa",
      "name": "Get Articles",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "yQ0CqMPOCVAm94Em",
          "name": "tech-news-collector"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1280,
        -32
      ],
      "id": "421ca5aa-5db9-4400-b316-31fc4ca3ddb8",
      "name": "Send to Discord",
      "webhookId": "5aa170cd-ab5e-4545-b5fd-e0dbc5380bd5",
      "credentials": {
        "discordWebhookApi": {
          "id": "g9ykQONoth9kfqpS",
          "name": "NEW ARCH DESIGNING (#notice-tech-blog)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Slack Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Has Articles": {
      "main": [
        [
          {
            "node": "Extract Article Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Articles (Skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article Fields": {
      "main": [
        [
          {
            "node": "Aggregate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Articles": {
      "main": [
        [
          {
            "node": "Generate Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Slack Message": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        []
      ]
    },
    "Get Articles": {
      "main": [
        [
          {
            "node": "Has Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "iQRj4MEt8AnsmEE9"
  },
  "versionId": "cf787192-6ad2-4936-a049-f5b987d35434",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a25a58fbaad6dc2edf7c853c2e8dc94a121e7e06e6b6e53130fb622e9d43f167"
  },
  "id": "pVkPc5gan6Wf8tV5",
  "tags": [
    {
      "updatedAt": "2025-12-11T14:48:25.929Z",
      "createdAt": "2025-12-11T14:48:25.929Z",
      "id": "DGWlHMRzJGZagG5p",
      "name": "Tech News Collector"
    }
  ]
}